<section class="popular-products">
  <div class="container">

    <div class="title-wrapper">
      <h2 class="section-title">
        Наші бестселери
      </h2>
    </div>

    <div class="slider-wrapper">
      <div
        class="slider-track"
        id="sliderTrack"
      ></div>
    </div>

    <div class="slider-navigation">

      <div class="slider-dots">
        <img
          src="./src/images/icons/Slider-Dots.svg"
          alt="slider dots"
        />
      </div>

      <div class="slider-buttons">

        <button
          type="button"
          class="slider-btn"
          id="prevBtn"
        >
          <img
            src="./src/images/icons/arrow-left.svg"
            alt="left arrow"
          />
        </button>

        <button
          type="button"
          class="slider-btn"
          id="nextBtn"
        >
          <img
            src="./src/images/icons/arrow-right.svg"
            alt="right arrow"
          />
        </button>

      </div>
    </div>

  </div>
</section>