<section class="popular">
  <div class="container">

    <h2 class="popular-title">
      Наші бестселлери
    </h2>

    <div class="popular-swiper swiper">

      <ul class="popular-list swiper-wrapper"></ul>

      <div class="swiper-settings">

        <div class="popular-pagination swiper-pagination"></div>

        <div class="popular-navigation">

          <button
            type="button"
            class="navigation-previus"
          >
            <img
              src="/src/img/icons/arrow-left.svg"
              alt="left arrow"
              width="24"
              height="24"
            />
          </button>

          <button
            type="button"
            class="navigation-next"
          >
            <img
              src="/src/img/icons/arrow-right.svg"
              alt="right arrow"
              width="24"
              height="24"
            />
          </button>

        </div>
      </div>
    </div>

    <div class="popular-loader"></div>

  </div>
</section>