<!-- <section class="feedbacks-section">
  <div class="container">
    <h2 class="section-title">Відгуки клієнтів</h2>
    <p class="section-description">
      Перегляньте відгуки наших клієнтів про наші послуги та продукти.
    </p>
    <div class="swiper gallery__swiper">
      <div class="swiper-wrapper" id="feedbacks-container">
        <div class="swiper-slide">
          <div class="testimonial-card">
            <div class="star-rating">
              <img src="img/star-on.svg" alt="star" />
              <img src="img/star-on.svg" alt="star" />
              <img src="img/star-on.svg" alt="star" />
              <img src="img/star-on.svg" alt="star" />
              <img src="img/star-on.svg" alt="star" />
            </div>
            <p class="review-text">"Ці десерти – справжнє мистецтво!"</p>
            <h4 class="client-name">Олена Коваль</h4>
          </div>
        </div>
      </div>

      <div class="slider-controls">
        <div class="swiper-pagination gallery__pagination"></div>

        <div class="slider-buttons">
          <button type="button" class="gallery__button-prev">&#8592;</button>
          <button type="button" class="gallery__button-next">&#8594;</button>
        </div>
      </div>
    </div>
  </div>
</section> -->
<section class="feedbacks-section">
  <div class="container">
    <h2 class="section-title">Відгуки клієнтів</h2>
    <p class="section-subtitle">
      Найкращі десерти, які я коли-небудь куштував!
    </p>

    <div class="swiper gallery__swiper">
      <div class="swiper-wrapper" id="feedbacks-container"></div>

      <div class="slider-controls">
        <div class="swiper-pagination gallery__pagination"></div>

        <div class="slider-buttons">
          <button type="button" class="gallery__button-prev">&#8592;</button>
          <button type="button" class="gallery__button-next">&#8594;</button>
        </div>
      </div>
    </div>
  </div>
</section>
