<header id="header" class="header">
  <div class="container header-container">
    <a href="index.html" class="header-logo"
      ><svg width="151" height="65" class="logo-icon">
        <use href="/img/icons/sprite.svg#logo"></use>
      </svg>
    </a>
    <nav class="nav-list">
      <a class="nav-list-item" href="#dessert-list">Солодощі</a>
      <a class="nav-list-item" href="#about-us">Про нас</a>
      <a class="nav-list-item" href="#faq">Часті питання</a>
      <a class="nav-list-item" href="#feedback">Відгуки</a>
      <div class="btn-shop-container">
        <a class="btn-shop" href="#dessert-list">До покупок</a>
      </div>
    </nav>

    <button type="button" class="menu-burger-btn" data-menu-open>
      <svg width="24" height="24" class="burger-icon">
        <use href="/img/icons/sprite.svg#menu"></use>
      </svg>
    </button>
  </div>
</header>
<div class="mobile-menu" data-menu>
  <div class="mobile-menu-container">
    <a href="index.html" class="header-logo">
      <svg width="151" height="65" class="logo-icon">
        <use href="/img/icons/sprite.svg#logo"></use>
      </svg>
    </a>
    <button type="button" class="menu-close-btn" data-menu-close>
      <svg width="24" height="24">
        <use href="/img/icons/sprite.svg#close"></use>
      </svg>
    </button>
  </div>

  <nav class="mobile-nav">
    <a class="mobile-nav-item" href="#dessert-list">Солодощі</a>
    <a class="mobile-nav-item" href="#about-us">Про нас</a>
    <a class="mobile-nav-item" href="#feedback">Відгуки</a>
    <a class="mobile-nav-item" href="#faq">Часті питання</a>
  </nav>
  <div class="btn-shop-container">
    <a class="mob-btn-shop" href="#dessert-list">До покупок</a>
  </div>
</div>
