.hero {
  padding: 80px 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/1x/hero-mob.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-container {
  max-width: 704px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ===== TITLE ===== */
.hero-title {
  margin-bottom: 24px;
  text-align: center;
  color: #ffffff;

  font-family: "Comfortaa", sans-serif;

  font-size: 40px;
  line-height: 1.2;
  
}

/* ===== TEXT ===== */
.hero-text {
  margin-bottom: 32px;
  text-align: center;

  color: #ffffff;

  font-family: var(--font-family);

  font-size: 18px;
  line-height: 1.5;
  
}
/* ===== BUTTON ===== */
.hero-btn {
  display: inline-block;
  text-align: center;
  align-items: center;
  padding: 10px 24px;
  background-color: #f19898;
  color: #000000;
  border-radius: 100px;
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  transition: opacity 0.3s ease;
   width: 100%;       
    max-width: 300px;  
}

.hero-btn:hover {
  opacity: 0.85;
}
/* ===================== */
/* 📱 TABLET 768px */
/* ===================== */

@media (min-width: 768px) {

  .hero {
    padding: 120px 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/1x/hero-tab.jpg");
  }

  .hero-container {
    max-width: 704px;
  }
  .hero-btn {
    width: auto;

  }

 
}

/* ===================== */
/* 💻 DESKTOP 1440px */
/* ===================== */

@media (min-width: 1440px) {

  .hero {
    padding: 160px 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                      url("../img/1x/hero.jpg");
  }
  .hero-btn:focus-visible{
    outline: 2px solid #000;
  }
  .hero-btn {
    width: auto;
  }
  .hero-title {
    font-size: 56px;
  }
}





@media (max-width: 767px) and (min-resolution: 192dpi) {
 .hero { background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/2x/hero-mob2x.jpg"); }
}
@media (min-width: 768px) and (max-width: 1439px) and (min-resolution: 192dpi) {
  .hero { background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/2x/hero-tab2x.jpg"); }
}
@media (min-width: 1440px) and (min-resolution: 192dpi) {
  .hero { background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/2x/hero2x.jpg"); }
}
